::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    overflow:hidden;
    user-select: none;
}

.flex-center {
    display:flex;
    justify-content: center;
    align-items: cetner;
}

.app {
    background-color: #ececec;
}

.fps-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size:80%;
    padding: 15px;
}

.score-counter {
    position: absolute; 
    left: 0; 
    right: 0;
    top: 100px; 
    margin-left: auto; 
    margin-right: auto; 
    width: max-content;
    font-size: 140%;
}

.highscore-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size:80%;
    padding: 15px;
}